#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.map-container {
  height: 320px;
}

.card-body {
  padding: 1.5rem;
}

.text-instagram {
  color: #E1306C;
}

.text-facebook {
  color: #1877F2; /* or #3b5998 for classic */
}

.text-youtube {
  color: #FF0000;
}

.text-pinterest{
  color: #BD081C;
}
@media (max-width: 992px) {
  .social-links {
    justify-content: space-between;
  }
}


@media (max-width: 768px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .map-container {
    height: 240px;
  }

  .card-body {
    padding: 1rem;
  }

  .social-links a {
    font-size: 0.9rem;
    flex: 1;
    text-align: center;
    white-space: nowrap;
  }
}


@media (max-width: 576px) {
  .map-container {
    height: 200px;
  }

  .btn {
    font-size: 0.9rem;
    padding: 0.5rem;
  }
}
